.ant-btn {
  background-color: pink;
}

.ant-popover .ant-popover-inner {
  background-color: #906ae123;
  backdrop-filter: blur(100px);
}

.ant-checkbox-checked .ant-checkbox-inner  {
  background-color: blueviolet !important;
  color: blueviolet !important;
}